<div class="page-titles">
    <div class="row">
        <div class="col-6 col-md-4"><h4><a href="#!" ><%- (!!locals.breadcrumb)?breadcrumb:"" %></a></h4></div>
        <div class="col-6 col-md-4"><%- (!!locals.breadcrumb_status)?breadcrumb_status:'' %></div>
    </div>
</div>