 <!-- ============================================================== -->
 <!-- Left Sidebar - style you can find in sidebar.scss  -->
 <!-- ============================================================== -->
 <aside class="left-sidebar" data-sidebarbg="skin5">
     <!-- Sidebar scroll-->
     <div class="scroll-sidebar">
         <!-- Sidebar navigation-->
         <nav class="sidebar-nav">
             <ul id="sidebarnav" class="p-t-30">
                 <li>
                     <ul class="collapsible">
                         <li class="small-cap">
                             <span class="hide-menu">Welcome!</span>
                         </li>
                         <li>
                             <a href="/" class="collapsible-header"><i class="material-icons">dashboard</i><span
                                     class="hide-menu"> Dashboard</span></a>
                           
                         </li>
                         <li>
                             <a href="javascript: void(0);" class="collapsible-header"><i
                                     class="material-icons">equalizer</i><span class="hide-menu"> Analytics </span></a>
                         </li>
                         <li>
                             <a href="/nurseview" class="collapsible-header"><i
                                     class="material-icons">library_books</i><span class="hide-menu"> Reports
                                 </span></a>
                         </li>
                         <li>
                             <a href="javascript: void(0);" class="collapsible-header"><i
                                     class="material-icons">multiline_chart</i><span
                                     class="hide-menu">Incidents</span></a>
                         </li>

                         <li>
                             <a href="/patientlist" class="collapsible-header"><i class="material-icons">group</i><span
                                     class="hide-menu"> Patients</span></a>
                         </li>
                         <li>
                             <a href="/patchinventory" class="collapsible-header"><i
                                     class="material-icons">archive</i><span class="hide-menu"> Patch Inventory
                                 </span></a>
                         </li>
                         <li>
                             <a href="/hospitalbilling?patient=Abigail Mendez&hospital=Cleveland Clinic&timerange=1week&id=5f1935269065e5a4927de1af"
                                 class="collapsible-header"><i class="material-icons">account_balance_wallet</i><span
                                     class="hide-menu"> Hospital Billing </span></a>
                         </li>
                         <li>
                             <a href="/patientinventory" class="collapsible-header"><i
                                     class="material-icons">account_circle</i><span class="hide-menu"> Administration
                                 </span></a>
                         </li>

                         <li>
                             <a href="/map" class="collapsible-header"><i class="material-icons">map</i><span
                                     class="hide-menu"> Map</span></a>
                         </li>
                         <!-- <li>
                    <a href="javascript: void(0);" class="collapsible-header"
                        ><i class="material-icons">explore</i
                        ><span class="hide-menu"> Timeline</span></a
                    >
                </li> -->
                         <!-- <li>
                    <a href="javascript: void(0);" class="collapsible-header"
                        ><i class="material-icons">content_paste</i
                        ><span class="hide-menu"> Documentation </span></a
                    >
                </li> -->
                         <li>
                             <a href="javascript: void(0);" class="collapsible-header"><i
                                     class="material-icons">people_outline</i><span class="hide-menu"> Support
                                 </span></a>
                         </li>
                     </ul>
                 </li>
             </ul>
         </nav>
         <!-- End Sidebar navigation -->
     </div>
     <!-- End Sidebar scroll-->
 </aside>
 <!-- ============================================================== -->
 <!-- End Left Sidebar - style you can find in sidebar.scss  -->
 <!-- ============================================================== -->