<div id="patientsummarymodal1" class="modal">
    <div class="modal-content ">
        <div class="modal-header">
            <h4>Summary : Greta Mills
                <div class="modal-close" style="float:right">
                    <i class="material-icons">clear</i>
                </div>
        </div>
        <TABLE border="1" summary="Info">
            <CAPTION><EM>Age : 42 | Ph: 001-0001-001</EM></CAPTION>
            <TR>
                <TH>Medical Record
                <TD>123456
            <TR>
                <TH>Re-admission
                <TD>2 Times
            <TR>
                <TH>Monitoring
                <TD>In-patient

            <TR>
                <TH>Medication
                <TD>Dolo650, RosovoGold
                <TD>Tenoric 50Mg
                <TD>
            <TR>
                <TH>Medical Issues
                <TD>Patient was admitted due to High Sweat, unable to breathe
            <TR>
                <TH>Ward
                <TD>Floor-3 | Ward 103
            <TR>
                <TH>Enabled Patches
                <TD>ECG, Temperature, SPO2
        </TABLE>

    </div>
    <div class="modal-footer">

    </div>
</div>