<div class="left-part">
    <!-- <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                                            href="javascript:void(0)"></a> -->
    <div class="scrollable" style="height:100%;">

        <div class="divider"></div>
        <ul class="list-group">
            <li>
                <small class="p-3 grey-text text-lighten-1 db">Info</small>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showMedicalIssues()"
                    class="active list-group-item-action d-flex align-items-center"><i
                        class="font-18 align-middle mr-1 material-icons ">accessible_forward</i>
                    Medical Issues
                    <span class="badge py-1 badge-success ml-auto">6</span></a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showVitals()" class="list-group-item-action d-block"><i
                        class="font-18 align-middle mr-1 text-info material-icons">star</i>
                    Vitals </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showLifeStyle()" class="list-group-item-action d-block">
                    <i class="font-18 align-middle mr-1 material-icons">accessibility</i>
                    Lifestyle </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showFamilyHistory()" class="list-group-item-action d-flex align-items-center">
                    <i class="font-18 align-middle mr-1 material-icons">group</i>
                    Family History<span class="badge py-1 badge-danger ml-auto">3</span></a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showPastIllness()" class="list-group-item-action d-block">
                    <i class="font-18 align-middle mr-1 material-icons">history</i>
                    Past Illness </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <hr>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showHospitalization()" class="list-group-item-action d-block">
                    <i class="font-18 align-middle mr-1 material-icons">local_hospital</i>
                    Hospitalization </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showProcedures()" class="list-group-item-action d-block">
                    <i class="font-18 align-middle mr-1 material-icons">content_cut</i>
                    Procedures </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showPreventiveCare()" class="list-group-item-action d-block">
                    <i class="font-18 align-middle mr-1 material-icons">local_hotel</i>
                    Preventive Care </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <hr>
            </li>
            <li>
                <small class="p-3 grey-text text-lighten-1 db">Medication</small>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showPrescriptions()" class="list-group-item-action d-block"><i
                        class="font-18 align-middle mr-1 material-icons">note_add</i>
                    Prescriptions </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showImmunization()" class="list-group-item-action d-block"><i
                        class="font-18 align-middle mr-1 text-cyan material-icons">add_location</i>
                    Immunization
                </a>
            </li>
            <li class="list-group-item border-0 p-0">
                <a href="javascript:showLabs()" class="list-group-item-action d-block"><i
                        class="font-18 align-middle mr-1 text-warning material-icons">domain</i>
                    Labs
                </a>
            </li>

        </ul>
    </div>
</div>